*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}
.container-screen
{
    padding: 50px;
    font-size: 100px;
    margin-right: 10px;
    float: right;
    color: rgb(255, 255, 255);
}
body {
   
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
 
.container {
    max-width: 800px;
    margin: auto;
    border: 1px solid red;
    background-color: black;
}
.row {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
button {
  margin: auto;
  height: 180px;
  width: 180px;
  border-radius: 100%;
  cursor: pointer;
  border:none;
  font-size: 70px;
  background-color: rgb(149, 145, 145);
 
}
button:hover
{
    background-color: gray;
}
.btn-zero
{
    grid-column: span 2;
    border-radius: unset;
    width: 380px;
    border-radius: 100px;
}
.item
{
    background-color: rgb(199, 190, 190);
}
.opera
{
    background-color: rgb(241, 130, 4);
}
#output
{
    color:white;
    float: right;
    font-size: 110px;
    max-width: 800px ;
    height: 200px;
    overflow: hidden;
    padding-top: 40px;

}
